body {
    font-family: "Arial", sans-serif;
    background: linear-gradient(90deg,rgb(47, 232, 158),rgb(182, 220, 200));
}

section {
    text-align: center;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;

    line-height: 100px;
    font-size: 80px;
    color: rgb(19, 11, 135);
}
.game--restart{
    padding: 8px;
    border-radius: 4px;
    background-color: black;
    color: #fff;
}
.game--restart:hover{
    background-color: rgb(178, 35, 35);
    cursor: pointer;
}

.cell.X {
    color: blue; 
}

.cell.O {
    color: red; 
}